* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: arial, sans-serif;
    line-height: 1.5;
}

.container {
    width: min(1100px, 100% -2rem);
}

.site-header, .site-footer {
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
}

.site-footer {
    border-top: 1px solid #ddd;
    border-bottom: none;
    margin-top: 2rem;
}

section {
    padding: 2rem;
}